<h1>Hello World!</h1>
<form action="/restaurants">
  <input type="text" name="category">
  <input type="text" name="city">
  <input type="submit">
</form>

<%= link_to "Voir la liste des restaurants", restaurants_path %>
